# ignora todos os arquivos
*
# mantém apenas os seguintes tipos de arquivo
!*.tex
!*.md
!*.txt
!*.jpg
!*.jpeg
!*.png
!*.py
!*.html
!*.gv
# !*.ipynb
!dados_projeto_final.ipynb
!*.csv
!*.doe
# analisar o conteúdo dentro das pastas
!*/
# add gitignore
!*.gitignore
virtual-env
test
__pycache__